.post {
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 3rem;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
  padding: 1.25rem;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 1.25rem;
}

.post__avatar {
  margin-right: 0.625rem;
}

.post_commentBox {
  display: flex;
  margin-top: 0.625rem;
}

.post__comments {
  padding: 1.25rem;
}

.post__input {
  flex: 1;
  border: none;
  padding: 1.25rem;
  border-top: 1px solid lightgray;
}

.post__button {
  flex: 0;
  border: none;
  color: #23a8d7;
  font-weight: bold;
  background-color: transparent;
  border-top: 1px solid lightgray;
  padding: 1.25rem;
  cursor: pointer;
}

.post__button:hover {
  color: blue;
}
