* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__headerImage {
  object-fit: contain;
}

.app__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .app__header {
    width: 75%;
  }
}

.app__headerWrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__bodyWrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postsWrapper {
  width: 100%;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .app_postsWrapper {
    width: 75%;
  }
}

.app_posts {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .app_posts {
    width: 75%;
  }
}

@media only screen and (min-width: 1024px) {
  .app_uploadButton {
    display: none;
  }
}

.app__uploadSection {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .app__uploadSection {
    display: block;
  }
}

.app__cancelButton {
  width: 100%;
}

.app_flex {
  display: flex;
}
